<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Materialize: Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!-- Materialize: Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <!-- Jquery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Enter NoQ - Exit Wait Times</title>
</head>
<body>
    <nav>
    <div class="container-wide">
        <div class="col s12 m3">
            <a class="logo" href="/"></a>
        </div>
    <div class="col s12 m9">
        <div class="right">
            <ul>
                <li>
                    ::marker
                    <a href="About"></a>
                </li>
                <li>
                    ::marker
                    <a href="/team">Our Team</a>
                </li>
                <li>
                    ::marker
                    <a class="btn nav-sign-up waves-effect waves-light" href="/">Check Out</a>
                </li>
            </ul>
        </div>
    </div>
        ::after
    </div>
    </nav>
<div class="hero hero-landing">
    <div class="row valign-wrapper no-valign-wrapper-on-mobile">
        <div class="col l5 valign hero-text">
            <div class="container=wide">
                <h1>Realtime wait times at your favorite restuarants.</h1>
                <h2>Stop waiting for unexpected surprises. View wait times, save time. Share your wait time 
                    <b>earn points</b>. 
                </h2>
                <h2>Search restaurant name or location to start.</h2>
            </div>
        </div>
        <div class="col l7 no-right-padding valign">
            
  <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">textsms</i>
              <input type="text" id="autocomplete-input" class="autocomplete">
              <label for="autocomplete-input">Search Restaurant or Location</label>
            </div>
          </div>
        </div>
      </div>
            
        </div>
    </div>
</div>
</body>
</html>